.card {
    display: grid;
    grid-template-areas: "time time duration" "category name name";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    max-height: 7rem;
    transition: box-shadow 0.3s ease
}

.card:hover {
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.45);
}

.dates {
    grid-area: time;
}

.duration {
    grid-area: duration;
    justify-self: flex-end;
}

.category {
    grid-area: category;
}

.name {
    justify-self: flex-end;
    grid-area: name;
}