.container {
    display: grid;
    grid-template-areas: "start" "end" "name" "category" "delete";
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    width: 25%;
    justify-self: center;
    height: 5rem;
    row-gap: 1rem;
}

.start {
    grid-area: start;
}

.end {
    grid-area: end;
}

.name {
    grid-area: name;
}

.category {
    grid-area: category;
}

.delete {
    grid-area: delete;
    display: grid;
    justify-items: center;
}

input {
    box-sizing: border-box;
    width: 100%;
}



@media (max-width: 700px) {
    .container {
        width: 80%;
    }
}