.container {
  display: grid;
  grid-template-areas: "heading" "timer" "activities";
  width: 25vw;
  grid-template-rows: 5rem 10rem auto;
  justify-self: center;
}

.container h1 {
  grid-area: heading;
}

.container .timer {
  grid-area: timer;
}

.activities {
  display: grid;
  row-gap: 1rem;
  align-items: start;
  grid-auto-rows: max-content;
}

@media (max-width: 700px) {
  .container {
    width: 80%;
  }
}