.container {
  width: 100%;
  display: grid;
  grid-template-areas: "timer button" "input input";
  grid-template-columns: 80% auto;
  row-gap: 1rem;
  align-items: center;
}

.container p {
  grid-area: timer;
}

.buttons {
  grid-area: button;
  justify-self: flex-end;
  grid-auto-flow: column;
}

.buttons button {
  aspect-ratio: 1/1;
  height: 2rem;
  font-size: 1rem;
}

.inputs {
  grid-area: input;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.inputs input {
  width: 100%;
  box-sizing: border-box;
}